name: Deploy Frontend
on:
  push:
    branches:
      - main
  pull_request:
    branches: [main]
    types: [closed] # Trigger when a pull request is closed, which includes merges

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.pull_request.merged == true
    steps:
      - uses: actions/checkout@v3
      - run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
      - run: docker build -t 2002goelchirag/react-test -f Dockerfile.dev .
      - run: docker run -e CI=true 2002goelchirag/react-test npm test

      - name: Generate deployment package
        run: zip -r deploy.zip . -x '*.git*'

      - name: Deploy to EB
        uses: einaregilsson/beanstalk-deploy@v18
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY }}
          aws_secret_key: ${{ secrets.AWS_SECRET_KEY }}
          application_name: frontend
          environment_name: Frontend-env
          existing_bucket_name: elasticbeanstalk-us-east-1-439563880453
          region: us-east-1
          version_label: ${{ github.sha }}
          deployment_package: deploy.zip